@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
[tooltip] {
  position: relative;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

[tooltip]::after, [tooltip]::before {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: none;
  font-size: 0.9em;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  content: '';
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

[tooltip]::after:hover, [tooltip]::before:hover {
  display: block;
}

[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1001;
  -webkit-transition: all 80ms ease;
  transition: all 80ms ease;
}

[tooltip]::after {
  content: attr(tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: 0.7em;
  -webkit-box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
          box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000;
  font-size: 10px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

[tooltip][tooltip-an^="none"]::before, [tooltip][tooltip-an^="none"]::after {
  -webkit-transition: none !important;
  transition: none !important;
}

[tooltip='']::before, [tooltip='']::after {
  display: none !important;
}

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::after,
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -0.5em);
          transform: translate(-50%, -0.5em);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}

[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 0.5em);
          transform: translate(-50%, 0.5em);
}

[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  -webkit-transform: translate(-0.5em, -50%);
          transform: translate(-0.5em, -50%);
}

[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  -webkit-transform: translate(-0.5em, -50%);
          transform: translate(-0.5em, -50%);
}

[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  -webkit-transform: translate(0.5em, -50%);
          transform: translate(0.5em, -50%);
}

[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  -webkit-transform: translate(0.5em, -50%);
          transform: translate(0.5em, -50%);
}

@-webkit-keyframes tooltips-vert {
  to {
    opacity: 0.9;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@-webkit-keyframes tooltips-horz {
  to {
    opacity: 0.9;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

[tooltip]:not([flow]):hover::after,
[tooltip]:not([flow]):hover::before,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  opacity: 0.9;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  opacity: 0.9;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
/*# sourceMappingURL=smooth-tooltip.css.map */