body{
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: "Montserrat", sans-serif;
    /* font-size: 12px; */
    padding: 2em;
    color: #fff;
}
h1,p {
  font-weight: 300;
  color: #fff;
  text-align: center;
}
span{
    font-weight: 400;
    padding: 3px;
    cursor: pointer;
    color: rgba(255, 255, 255, .8)

}
span:hover{
    /* color: rgba(255, 255, 255, 1) */
}
hr{
    border: 1px solid #ffffff57;
    border-top: 1px;
    width: 18%;
    margin: 3em auto;
}